{% extends 'layout/default.twig' %}

{% block content %}

<div class="col-sm-9 col-xs-12">

    <div class="row">
        {% for entry in entries %}
            <a href="{{ app.request.baseUrl ~ 'post/' ~ entry.getSlug() }}">
                <div class="media-body padding">
                    <h3 class="media-heading">{{ entry.getTitle() }}</h3>
                </div>
            </a>
        {% endfor %}
    </div>

</div>

{% endblock %}
