{% extends 'layout/default.twig' %}

{% block content %}

<div class="col-sm-9 col-xs-12">

    <div class="row">
        {% for entry in entries %}

            {% if entry.getFeaturedImage() is not null %}
                <img src="{{ entry.getFeaturedImage().file.url }}?w=800" class="img-responsive" />
            {% endif %}

            <h1>{{ entry.getTitle() }}</h1>
            <div>
                {{ entry.getBody() }}
            </div>

        {% endfor %}
    </div>

</div>

{% endblock %}
